{% extends "dashboard/base.html" %}
{% block title %}{{ g.settings['site_title'] }} - Manage Phone Number{% endblock %}
{% block main %}
<div class="fd-dashboard-page-sm">
	<div class="fd-card">
		<div class="fd-card-header">
			<h3 class="fd-card-title">Manage Phone Number</h3>
			<p class="fd-card-subtitle">Manage a phone number and add it to your contact page.</p>
		</div>
		<form method="POST" class="fd-card-body" enctype="multipart/form-data">
			{{ form.hidden_tag() }}
			<div class="grid grid-cols-1 gap-4"> 
                {% for field in form %} 
                    {% if field.name != "csrf_token" %} 
						<div>
                            {{ field.label(class="fd-form-label") }}
                            {{ field }}
							<p class="fd-input-description">{{ field.description }}</p>
							{% if field.errors %}
								{% for error in field.errors %}
									<div class="fd-error-message">
										{{ error }}
									</div>
								{% endfor %}
							{% endif %}
                        </div> 
                    {% endif %} 
                {% endfor %} 
            </div>
			<div class="fd-card-buttons">
				<button type="submit" class="fd-btn fd-btn-secondary fd-btn-sm fd-btn fd-btn-w-icon">
					<svg class="fd-btn-icon" fill="none" stroke="currentColor" stroke-width="2.5" viewBox="0 0 24 24">
						<path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
					</svg> 
					{% if is_edit %}
						Update Entry
					{% else %}
						Create Entry
					{% endif %}
                </button>
				<button type="reset" class="fd-btn fd-btn-outline fd-btn-sm">Reset</button>
			</div>
		</form>
	</div>
</div>
{% endblock %}